<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Include the page title -->
    <title>{{ page.title }}</title>
    
    <!-- Include Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Include custom CSS -->
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- Configure MathJax -->
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$'],],    // enable '$' as inline math delimiter
          tags: 'ams'                   // enable equation numbering
        },
      };
    </script>

    <!-- Include MathJax JS -->
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-chtml.js"></script>
  </head>

  <body>
    <!-- Include navigation bar for all pages except home page -->
    {% if page.url != "/" %}
      <div class="container my-3">
        {% include navigation.html %}
      </div>
    {% endif %}

    <!-- Include content -->
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>